<%= stylesheet_link_tag "home" %>
<div id="container">
  <div id="logo"></div>
    <div id="login">
       <!-- end login-->
    </div>
        <div id="signup">
       <!--end signup-->
        </div>
            <div id="blurb">
              <p>
                Rhoncus lorem nunc enim. Odio nunc dictumst amet et, facilisis? Lorem, aliquam, tortor urna tortor? Enim pulvinar lacus, diam mid nec nisi arcu egestas elementum sed, sed massa, cursus vel? Hac turpis vel cum tincidunt et porta aenean a placerat dis? Scelerisque, habitasse non! A? Sociis! Phasellus nunc? Velit velit arcu porttitor eu? Amet, porta nunc, sit integer a lorem! Porta ac amet diam enim. Pulvinar nisi pid placerat montes et mus? Tortor vel tincidunt risus natoque, scelerisque, ultrices scelerisque non integer sed mus massa dis in, ridiculus scelerisque eu sociis non et in, duis, arcu mid a duis velit? Proin dolor turpis! Sit phasellus nisi etiam nascetur, scelerisque duis auctor sit ridiculus ut enim a elementum ac nunc facilisis.
              </p>
              <!--end blurb-->
            </div>
  <!--end container-->
</div>
