@font-face {
  font-family: "Anonymous Pro Regular";
  src: url("/assets/Anonymous Pro.ttf");
}
@font-face {
  font-family: "Anonymous Pro Bold";
  src: url("/assets/Anonymous Pro B.ttf");
}
img, body, html, *{
  padding: 0;
  margin: 0;
}
body {
  background-color: #313131;
  text-align: center;
  font-family:"Anonymous Pro Regular";
  font-size: 14px;
  color: #62dbac;
}
html, body {height: 100%;}
* html #container {height: 100%;}
a, a:link, a:active, a:visited {
  color: #ffa676;
  text-decoration: none;

}
a:hover {
  color: #e0b7ff;
  text-decoration: none;

}
b, strong { font-family: "Anonymous Pro Bold";}
s, strike { color: #ef0808;}
u { border-bottom: dashed 1px;}

#container {
  text-align: left;
  min-height:100%;
  height: auto !important;
  width:1100px;
  margin: 0 auto;
  padding-bottom: 30px;
  overflow:hidden;
}
  input:focus {
    outline: none;
  }


.textfield{
  color:#313131;
  font-family:"Anonymous Pro Regular";
  font-size: 12px;
  background-color: #62dbac;
  width:150px;
  height: 30px;
  border: none;
  margin-bottom: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-indent: 10px;
  display: block;
}

.submitbutton {
  font-family:"Anonymous Pro Regular";
  font-size: 12px;
  color: #62dbac;
  background-color: #8625d0;
  width: 150px;
  height: 30px;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
}
#logo {
  margin-top: 100px;
  background-image:url("/assets/logo.png") ;
  width: 206px;
  height: 120px;

}
#login {
  margin-top: 50px;
  width: 180px;
  height: 140px;
  float: left;

}


#signup {
  width: 180px;
  height: 200px;
  float: left;

  padding-left:20px ;
  margin-top: 90px;
  border-left: 10px solid #8625d0;


}
#blurb {
  width: 400px;
  height: auto;
  float: left;
  margin-top: 130px;
  padding-left:20px ;
  border-left: 10px solid #8625d0;
   .title {
     font-family: "Anonymous Pro Bold";
     font-size: 20px;
     color: #8625d0;
     padding-bottom: 10px;
   }
}
::selection {
  background: #8625d0; /* Safari */
  color: #62dbac;
}
::-moz-selection {
  background: #8625d0; /* Firefox */
  color: #62dbac;
}
::-webkit-input-placeholder {
  color: #116c62;
}

:-moz-placeholder {
  color: #116c62;
}

:-ms-input-placeholder {
  color: #116c62;
}
#clear {
  clear: left;
}